.navbar {


    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 300;
}

.navbar a {

    color: #FFFAFA	 !important;
    opacity: 0.8;
}


.navbar a:hover {

    opacity: 1;
    background-color: #000000 !important;
}
.navbar-nav
{
  margin-top: 3vh;
  margin-bottom: 3vh;
}
#navigation
{
   background:url('../images/cover-image.jpg') center center no-repeat;
   height:105vh;
  background-size:cover;
    display: flex;
    flex-flow:column;
}
#about
{
  margin-top: 3vh;
  margin-bottom: 3vh;
}
#about h1

{
  text-align: center;
}
#search-bar
{

  flex: 1;
  padding-top: 45vh;
  padding-left: 75vh;
}
#working-model h1
{
  text-align: center;
  padding-bottom: 2vh;
  padding-top: 2vh;
}
.work-section
{
  display:grid;
  grid-template-columns:30% 30% 30%;
  align-items: center;
  grid-gap:1em;
}
.work-section>div
{
  padding: 1em;
    background-color: #FFF5EE;
}

.work-section>div>h4
{
  text-align: center;
  padding-top: 10vh;

}
.options-section
{
  display: grid;
  grid-template-columns:30% 30% 30%;
   justify-items:stretch;
  grid-gap:1em;
}
.options-section>div
{
  padding: 1em;
  background-color: #F5DEB3;
  align-items: center;
}
.options-section>div
{
  text-align: center;
}
.options-section>div>h4
{
  text-align: center;
}
#options-model h4
{
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
#footer
{
  background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
  color:#F0FFFF;
}
#options-model
{
  padding-bottom: 3vh;
  padding-top: 3vh;
}
.footer-section
{
  display: grid;
  grid-template-columns:30% 30% 30%;
   justify-items:stretch;
  grid-gap:1em;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}
